body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero{
	padding: 30px 15px;
}

.list{

	background-color: #6a297b;
	padding: 30px 0;
}


h1{
	color: white;
	font-size: 4em;
	font-weight: 100;
	text-transform:uppercase;
	text-align: center;
}

h2{
	color: white;
	font-size: 2.5em;
	font-weight: 600;
	text-align: center;
}

p{
	color: white;
	font-size: 1em;
	font-weight: normal;
}

.hero p{
	text-align: center;
}

.hero img{
	width: 100%;
	border: 8px solid white;
	border-radius: 15px;
	box-sizing: border-box;

}

ul{
	max-width: 100%;
	list-style-type: none;
	padding: 15px;
}

li{
	width: 100%;
	padding: 0px;
	margin: 15px 0;
	background-color: #00000055;
	border-radius: 15px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;

}

.avatar{
	flex: 20%;
	background-color: white;
}

.description{
	flex: 80%;
}

li img{
	padding: 20px 5px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: white;
}

li p{
	padding: 0 15px;
}

li p:nth-child(1){
	font-size: 1.5em;
	font-weight: 600;
	text-transform:capitalize;
}

p:last-child{
	text-align: right;
}

button{
	background-color: #dc4767;
	color: white;
	font-size: 1em;
	font-weight: normal;
	border: none;
	border-radius: 5px;
	padding: 10px 45px;
	margin:0 auto;
	text-align: center;
	display: block;
	margin: 0 auto;	
}

button:hover{
	background-color: white;
	color: black;
}

@media (min-width: 768px){
	.hero img{
		float: left;
		width: 50%;	
	}

	.hero h1, .hero p{
		float: right;
		width: 48%;
		margin: 0 0 15px 0;
	}

	section.hero{
		overflow: auto;
		width: 60%;
		margin: 15px auto;
	}

	.avatar{
		width: 30%;
	}

	.description{
		width: 70%;
	}

	ul{
		width: 90%;
		margin: 0 10%;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}

	li{
		width: 40%;
		margin: 8px;
	}

	li img{
		padding: 70px 5px;
	}

}